---

---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Meine erste Astro-Seite</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/blog/">Blog</a>
    <a href="/about/">Über</a>
    <h1>Über diese Seite</h1>
    <p>
      Hier werde ich später weitere Informationen hinzufügen. Es wird sich auf
      alle Fälle lohnen, immer mal wieder vorbeizuschauen
      <p>Liebe Grüße<br />Eva</p>
    </p>
  </body>
</html>
